<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h1>Factories</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Avaialabilty</th>
        <th scope="col">Performance</th>
        <th scope="col">Quality</th>
        <th scope="col">OEE</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factory of factories ">
        <th scope="row">{{factory.id}}</th>
        <td>{{factory.name}}</td>
        <td>{{factory.availability | percent}}</td>
        <td>{{factory.performance | percent}}</td>
        <td>{{factory.quality | percent}}</td>
        <td>{{factory.getOveralEquipmentEffectiveness() | percent}}</td>
        <td><a class="nav-link" [routerLink]="['/factory/' + factory.id]"><button type="button" class="btn btn-primary btn-rounded btn-sm">Edit</button></a></td>

      </tr>
    </tbody>
  </table>
</main>
