<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    {{currentLanguage.title}}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li class="dropdown" dropdown>
      <li [class.active]="language==currentLanguage" *ngFor="let language of languages">
        <a (click)="setLanguage(language)" class="dropdown-item">
          {{language.title}}
        </a>
      </li>
  </div>
</div>
